/**************************
 ***** Seal Animation *****
 **************************/

.seal-open-close {
  animation-name: wokka;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
}

@keyframes wokka {
  0% {
    content: url('./assets/img/spill-3/seal-open.png');
  }

  50% {
    content: url('./assets/img/spill-3/seal-lukket.png');
  }
}

/*********************************
 ***** Item Object Animation *****
 *********************************/
.item-obj {
  animation: slide-slow 82s;
  animation-iteration-count: 1;
}

@keyframes slide-slow {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 72%;
  }
}

/***********************************
 ***** Trash Object Animation  *****
 ***********************************/

.trash-item-flying-up {
  animation: mover 1s alternate;
  animation-duration: 0.5s;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(9220px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-920px);
  }
}
