body {
  background-color: #f9f4e1 !important;
}

/**********************************************************
****** Hidden wall in front of the mouth of the Seal ******
******   Intention is to let the item hit the box    ******
***********************************************************/
.hidden-wall {
  width: 150px;
  height: 150px;
  position: absolute;
  margin: auto;
  margin-top: 20px;
  margin-left: 10px;
  top: 33%;
  left: 59%;
}

.images {
  position: relative;
  width: 32rem;
  height: auto;
  right: 1.8%;
  top: 41.5%;
  left: 40%;
}

.seal-open-close {
  position: relative;
  width: 32rem;
  height: auto;
  right: 1.8%;
  top: 39%;
  left: -5%;
}

.seal-sad {
  position: relative;
  width: 32rem;
  height: auto;
  right: 1.8%;
  top: 39%;
  left: -5%;
}

.food-item {
  padding-left: 2rem;
}

.food-item:hover {
  cursor: pointer;
}

.trash-item {
  padding-left: 3rem;
}

.trash-item:hover {
  cursor: pointer;
}

.item-obj {
  position: absolute;
  margin: auto;
  margin-top: 20px;
  margin-left: 10px;
  top: 50%;
}