@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');

body {
  background-color: #f9f4e1 !important;
}

span {
  font-family: 'Schoolbell',
    sans-serif;
}

h4 {
  font-family: 'Schoolbell', sans-serif;
}

.seal-bubble-speech {
  width: 20rem;
  height: 10rem;
  bottom: 13%;
  left: 60%;
  position: relative;
  background: #888888;
  border-radius: 90px;
}

.seal-bubble-speech:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 47px solid transparent;
  border-top-color: #888888;
  border-bottom: 0;
  border-left: 0;
  margin-left: -23.5px;
  margin-bottom: -47px;
}

/**********************************************************
****** Hidden wall in front of the mouth of the Seal ******
******   Intention is to let the item hit the box    ******
***********************************************************/

.hidden-wall {
  width: 150px;
  height: 150px;
  position: absolute;
  margin: auto;
  margin-top: 20px;
  margin-left: 10px;
  top: 53%;
  left: 54%;
}

.images {
  position: relative;
  width: 31rem;
  height: auto;
  right: 1.8%;
  top: 56.5%;
  left: 40%;
}

.seal-open-close {
  position: relative;
  width: 31rem;
  height: auto;
  right: 1.8%;
  top: 39%;
  left: -5%;
}

.seal-sad {
  position: relative;
  width: 31rem;
  height: auto;
  right: 1.8%;
  top: 39%;
  left: -5%;
}

.food-item {
  padding-left: 2rem;
}

.food-item:hover {
  cursor: pointer;
}

.trash-item {
  padding-left: 3rem;
}

.trash-item:hover {
  cursor: pointer;
}

.item-obj {
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  top: 60%;
}