:root {
  --seal-open-mouth-img: url('https://github.com/KoichaDev/environment-games/blob/master/assets/img/spill-3/seal-open.png?raw=true');
  --seal-close-mouth-img: url('https://github.com/KoichaDev/environment-games/blob/master/assets/img/spill-3/seal-lukket.png?raw=true');
}

/**************************
 ***** Seal Animation *****
 **************************/

.seal-open-close {
  width: 453px;
  height: 322px;
  animation-name: wokka;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
}

@keyframes wokka {
  0% {
    background: var(--seal-open-mouth-img);
  }

  50% {
    background: var(--seal-close-mouth-img);
  }
}

/*********************************
 ***** Item Object Animation *****
 *********************************/
.item-obj {
  animation: slide-slow 82s;
  animation-iteration-count: 1;
}

@keyframes slide-slow {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 72%;
  }
}

/***********************************
 ***** Trash Object Animation  *****
 ***********************************/

.trash-item-flying-up {
  animation: mover 1s alternate;
  animation-duration: 0.5s;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40rem);
  }
}