/**************************
 ***** Seal Animation *****
 **************************/

section {
  position: relative;
}
section img {
  position: absolute;
}
.images {
  animation-name: wokka;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
}

@keyframes wokka {
  0% {content: url('/assets/img/spill-3/seal-open.png')}
  50% {content: url('/assets/img/spill-3/seal-close.png')}
}